/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/fraunces-v37-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/montserrat-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-green500: hsl(158, 36%, 37%);
    --color-green700: hsl(158, 42%, 18%);
    --color-black: hsl(212, 21%, 14%);
    --color-grey: hsl(228, 12%, 48%);
    --color-cream: hsl(30, 38%, 92%);
    --color-white: hsl(0, 0%, 100%);
}




body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cream);
}

#product-card {
    background-color: var(--color-white);
    width: 350px;
    margin: 20px;
    border-radius: 12px;
}

img {
    width: 350px;
    border-radius: 12px 12px 0 0;
}

#product-text {
    padding: 20px;
    margin: 0 10px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--color-grey);
    font-size: 14px;

}

h1{
    font-family: "Fraunces", serif;
    margin: 5px 0px;
    font-weight: 700;
    color: var(--color-black);
}

#product-text p {
    color: var(--color-grey);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.75;
    
}

#price {
    display: flex;
    flex-direction: row;
    padding-bottom:10px;
}

#price h3 {
    color: var(--color-green500);
    font-family: "Fraunces", serif;
    font-weight: 700;
    padding-right: 20px;
    font-size: 32px;
}

#price p {
    color: var(--color-grey);
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#cart {
    background-color: var(--color-green500);
    border-radius: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cart:hover {
    background-color: var(--color-green700);
}

#cart img {
    width: 15px;
    margin-right: 10px;
}

#cart a {
    color: var(--color-white);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
}